<h1 class="page-header">Register a Doctor</h1>

<div class="register-doctor">
    <pre id="messages" class="alert alert-success hidden" role="alert"></pre>
    <div id="qrMessages" class="hidden">
        <div class="row">
            <div class="col-md-4">
				<p>
					Public Key: <pre id="publicKey"></pre>
				</p>
				<img id="publicKeyImg" src="#" />
            </div>
            <div class="col-md-5">
                <p>
                    Private Key: <pre id="privateKey"></pre>
                </p>
                <img id="privateKeyImg" src="#" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="doctorName">First Name</label>
        <input type="text" class="form-control" id="doctorName" required value="{{ doctorName }}">
    </div>
    <div class="form-group">
        <label for="doctorLastname">Last Name</label>
        <input type="text" class="form-control" id="doctorLastname" required value="{{ doctorLastname }}">
    </div>
    <div class="form-group">
        <label for="doctorId">National ID Number</label>
        <input type="text" class="form-control" id="doctorId" required value="{{ doctorId }}">
    </div>
    <div class="form-group">
        <label for="doctorLocation">Location</label>
        <input type="text" class="form-control" id="doctorLocation" required value="{{ doctorLocation }}">
    </div>
    <button id="register-button" class="btn btn-default">Register</button>
</div>
