<h1 class="page-header">Create a Medical Record</h1>

<div id="create-record">
    <pre id="messages" class="alert alert-success hidden" role="alert"></pre>
    <div class="build-record">
        <div class="form-group">
            <label for="patientAddress">Patient ID</label>
            <input type="text" class="form-control" id="patientAddress" disabled value="{{ patientAddress }}">
        </div>
        <div class="form-group">
            <label for="patientBloodType">Patient Blood Type</label>
            <input type="text" class="form-control" id="patientBloodType" required value="{{ patientBloodType }}">
        </div>
        <button id="create-record-button" class="btn btn-default">Save Record</button>
    </div>
</div>
