<h1 class="page-header">Register a Patient</h1>

<div class="register-patient">
    <div class="form-group">
        <label for="patientName">Patient's Name</label>
        <input type="text" class="form-control" id="patientName" required value="{{ patientName }}">
    </div>
    <button id="register-button" class="btn btn-default">Register</button>
</div>
