<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" rel="" href="#" title="MedVault">
                <img style="max-width:50px;" src="/images/Medvault.png">
                MedVault
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul id="Navigation" class="nav nav-sidebar">
                <li class="nav-header">Entities</li>
                <li id="nav-doctors" class="navButton"><a href="#doctors">Doctors</a></li>
                <li id="nav-patients" class="navButton"><a href="#patients">Patients</a></li>
                <li class="nav-header">Medical Records</li>
                <li id="nav-create-records" class="navButton"><a href="#create-records">Create Record</a></li>
                <li id="nav-lookup-history" class="navButton"><a href="#lookup-history">Lookup Patient History</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div id="ContentRegion"></div>
            <div id="loading"></div>
        </div>
    </div>
</div>
